@mixin icon {
    text-decoration: none;
    background-image: linear-gradient(red, purple);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}